$font-stack: "Roboto", sans-serif;
$primary-link-color: #00b7ff;
$color-red: #ff0000;
$color-almost-black: #282828;
$color-grey: grey;
$icon-size: 16px;

body {
  font: 14px $font-stack;
  margin: 0;

  i {
    color: $color-grey;
    font-size: $icon-size;
  }

  .nav {
    .nav-list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid lightgrey;
      justify-content: space-between;
      align-items: center;
      padding: 12px;

      .nav-left {
        display: flex;
        align-items: center;

        .nav-burger {
          .nav-burger--line {
            width: 20px;
            height: 2px;
            background-color: $color-grey;
            margin: 3px 0;
          }
        }

        .nav-logo--img {
          height: 24px;
          margin: 0 20px;
        }
      }

      .navlinks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        a {
          background-color: inherit;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 17px;
        }
        a:hover {
          background-color: #ddd;
          // border-bottom: 1px solid black;
          text-decoration: underline;
          text-decoration-color: grey;
        }
        a .active {
          background-color: #ccc;
        }
      }

      .nav-right {
        display: flex;
        i {
          margin: 0 10px;
        }
      }
    }
  }

  .tubeinput {
    display: flex;
    flex-direction: column;
  }

  // bootstrap overrides
  .form-control {
    margin: 3px;
    max-width: 250px;
  }

  .main {
    margin: 15px;
  }
}
