<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>EdTube - My Channels</title>
  <link rel="stylesheet" type="text/css" href="../sass/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="nav">
    <ul class="nav-list">
      <span class="nav-left">
        <li class="nav-burger">
          <div class="nav-burger--line"></div>
          <div class="nav-burger--line"></div>
          <div class="nav-burger--line"></div>
        </li>
        <li class="nav-logo">
          <img class="nav-logo--img" src="/et_logo.png">
        </li>
        <span class="navlinks">
          <li>
            <a class="navlink active" id="userslink" href="user">Users</a>
          </li>
          <li>
            <a class="navlink" id="playlistslink" href="playlist">Playlists</a>
          </li>
          <li>
            <a class="navlink" id="trendinglink" href="trending">Trending</a>
          </li>
          <li>
            <a class="navlink" id="trendinglink" href="myChannels">My Channels</a>
          </li>
        </span>
      </span>
      <span class="nav-right">
        <li><i class="fas fa-video-plus"></i></li>
        <li><i class="fas fa-th"></i></li>
        <li><i class="fas fa-comment"></i></li>
        <li><i class="fas fa-bell"></i></li>
      </span>
    </ul>
  </div>
  <div class="main">
    <div class="input-section">
      <h1>Welcome To Eddy Tube</h1>
      <h2>My Channels</h2>
    </div>

    <div class="results-section">
      <a href="/mychannels" class="form-control btn btn-success refresh" type="submit" value="Refresh results" name="refresh">
        Refresh results
      </a>
      {{!-- complete playlists table --}}
      <table class="results-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {{#each channels}}
          <tr>
            <td>{{cname}}</td>
            <td>{{description}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</body>

</html>
